$background-color: #f3f7fa;
$text-color: #4a4a4a;
$primary-color: #2196f3;
$transfer-color-hover: #f1fcff;
$light-gray-color: #a0b0b9;
$border-tabs-color: #dfe5ec;
$border-checkbox-color: #9abbce;
$white-color: #fff;

$price-size: 24px;
$small-size-text: 10px;
$price-font-weight: 600;
$second-line-gray-size: 14px;
$second-line-gray-height: 21px;
$light-gray-size: 12px;
$light-gray-height: 18px;
$transfers-size: 13px;
$font-family: 'Open Sans', 'Roboto', sans-serif;
